<!DOCTYPE>

<html>

<head>
  <title>Brickfield Canvas</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 <link rel='stylesheet' type='text/css' href='/css/style.css'>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Vollkorn|Spectral+SC" rel="stylesheet">
</head>

    <style>

        body {
            font-family: 'Vollkorn', serif;
            font-size: 17px;
            background-color: #DCDCDC;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Spectral SC', serif;
        }

        .disclaimer {
            font-size: 10px;
            line-height: 10%;
            text-align: left;
            margin: 0px 50px 0px 50px 
        }

        .login {
            margin-right: 50px;
        }
        
        .template-img {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/foyer.png');
            -webkit-background-size: cover;
            -moz-background-size:  cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .logo {
            font-size: 35px;
        }

        .flex {
            display: flex;
            justify-content: space-around;
        }

        .curve {
            border-radius: 40px;
        }

        .logo-header {
           font-family: 'Spectral SC', serif;
           color: #DAA520;
        }

    </style>

<body class='center'>

<!-- NavBar -->

  <nav class="brown darken-1 z-depth-5" role="navigation">
    <div class="nav-wrapper">
      <ul>
        <li>
         <a href="/" class="logo logo-header"><u>Brickfield Canvas</u></a>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class='text link' href="/about">Contact Us</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class='text link' href="/rates">Rates</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class='text link' href="/facilities">Facilities</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class='text link' href="/workspaces">Workspaces</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class='text link' href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>   
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div id='header'>
          <h1 class="text header center">Changing the flow of work</h1>
        </div>
        <br><br>
      </div>
    </div>
    <div class='parallax'><img class='responsive-img template-img'></div>
  </div>

    {{{body}}}

 
  <footer class="page-footer brown darken-1">
    
      <div class="container">
          <div class="row">
            <div class="col s6 left-align">
                  <h5 class='text'><u>Address</u></h5>
                <ul>
                  <li class='text'>35 Brickfield Road, Woodstock</li>
                  <li class='text'>7295, Cape Town</li>
                  <li class='text'>South Africa, Western Cape</li>
                </ul>
            </div>

        <div class="col l3 s12 left-align">
          <h5 class="text"><u>Settings</u></h5>
          <ul>
                
                {{#if user}}
                    <ul class='left login'>
                        <li><a href='/logout' class='text txt'>Logout</a></li>
                   

                    
                        <li><a href="/settings" class='text txt'>Settings</a></li>
                    
                {{/if}}

<!-- NavBar -->
<!-- Login button -->

                {{#unless user}}
                    
                        <li><a href='/login' class='text txt'>Login</a></li>
                    
                {{/unless}}
   
                        <li><a href='/disclaimer' class='text txt'>Disclaimer</a></li>
                    </ul>
          </ul>
        </div>
        <div class="col l3 s12 left-align">
          <h5 class="text"><u>Contact Us</u></h5>
          <ul>
            <li><a href='mailto:trevor@sprinthive.com?subject=Brickfield%20Canvas' class='txt'>info@BrickfieldCanvas.co.za</a></li>
            <li class="text txt">021 599 8734</li>
          </ul>
        </div>

          </div>
        </div>

    

    <div class='brown darken-2 foot text' class="footer-copyright">
        © 2017 by Brickfield Group
    </div>

  </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMyM-4Pe80L_lgrL2Dq1TOIua6Vilthog&callback=initMap&libraries=places" type="text/javascript"></script>
    
          <script> 

             $(document).ready(function(){
              $('.materialboxed').materialbox();
              });

          </script>

          <script>

            $(document).ready(function(){
	            //Check to see if the window is top if not then display button
	            $(window).scroll(function(){
		            if ($(this).scrollTop() > 100) {
			            $('.scrollToTop').fadeIn();
		        } else {
			        $('.scrollToTop').fadeOut();
		        }
	        });
	
	        //Click event to scroll to top
	        $('.scrollToTop').click(function(){
		        $('html, body').animate({scrollTop : 0},800);
		            return false;
	            });
            });

          </script>

          <script>
            
            $(document).ready(function() {
                $('select').material_select();
            });
       
            $('select').material_select('destroy');

          </script>

          <script>

             $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            });

          </script>

        <script>

            $('.timepicker').pickatime({
              default: 'now', // Set default time: 'now', '1:30AM', '16:30'
              fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
              twelvehour: false, // Use AM/PM or 24-hour format
              donetext: 'OK', // text for done-button
              cleartext: 'Clear', // text for clear-button
              canceltext: 'Cancel', // Text for cancel-button
              autoclose: false, // automatic close timepicker
              ampmclickable: true, // make AM PM clickable
              aftershow: function(){} //Function for after opening timepicker
            });

        </script>

</body>
</html>