<!DOCTYPE>

<html>

<head>
  <title>Brickfield Canvas</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 <link rel='stylesheet' type='text/css' href='/css/style.css'>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Prosto+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">
</head>

    <style>

        body {
            font-family: 'Prosto One', cursive;
        }

        .disclaimer {
            font-size: 10px;
            line-height: 10%;
            text-align: left;
            margin: 0px 50px 0px 50px 
        }

        .login {
            margin-right: 50px;
        }
        
        .template-img {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/foyer.png');
            -webkit-background-size: cover;
            -moz-background-size:  cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .logo {
            font-size: 35px;
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

        .curve {
          border-radius: 40px;
        }

    </style>

<body class='center'>

<!-- NavBar -->

  <nav class="blue" role="navigation">
    <div class="nav-wrapper">
      <ul>
        <li>
         <a href="/" class="white-text logo">Brickfield Canvas</a>
        </li>
      </ul>

    {{#if user}}
       <ul class='right login'>
        <li><a href='/logout' class='white-text'>Logout</a></li>
      </ul>

       <ul class="right hide-on-med-and-down">
          <li><a href="/settings" class='white-text'>Settings</a></li>
      </ul>
    {{/if}}

<!-- NavBar -->

<!-- Login button -->

    {{#unless user}}
      <ul class='right login'>
        <li><a href='/login' class='white-text'>Login</a></li>
      </ul>
    {{/unless}}

<!-- Login button --> 

    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div id='header'>
          <h1 class="modak header center white-text text-lighten-10">Changing the way you experience work</h1>
        </div>
        <br><br>
      </div>
    </div>
    <div class='parallax'><img class='responsive-img template-img'></div>
  </div>

    {{{body}}}

  <footer class="page-footer blue">
    
    <div class='disclaimer'>
      <p class='black-text'>Disclaimer - The images on display in this website are for display purposes only, and do not convey actual representations of the Brickfield Canvas project, the intention of this website is to illustrate the building based on existing concept designs, as well as including the idea's of the design team behind this project.</p>
    </div>

    <div class='foot black-text' class="footer-copyright">
        © 2017 by Brickfield Group
    </div>

  </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMyM-4Pe80L_lgrL2Dq1TOIua6Vilthog&callback=initMap&libraries=places" type="text/javascript"></script>
    
</body>
</html>