
<!-- Navigation buttons -->

  <div class='flex'>
      
      <a href='/'><div class='buttons btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/blog'><div class='buttons btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text white curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text grey curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>


<!-- Navigation buttons -->

<br></br>

<div class="container">

          <div class='mission z-depth-2'>
            <h4 class='black-text'>Our mission statement</h4>
            <p class='statement black-text'>Brickfield Canvas was envisioned as a means to relieve people of common worktime stress, We offer an entirely new environment to immerse oneself in, free from the usual stress's and strains that come along with working in a block of offices cramped full of people... Brickfield's workspaces are open, vivid and spaceous! There's no need to leave work if it's an enjoyable place to be right? So please inquire into our project further! We are certain these concept's will revolutionise work-spaces country-wide!</p>  
          </div>

          <div class='container'>
            <p class='black-text'>If you would like to get more information, wish to organise a meeting with us or if you have any inquiries regarding mandates for engaging and represting us, please feel free to make contact...</p>
            <a class='buttons btn waves-effect waves-light white curve black-text' href="mailto:trevor@sprinthive.com?subject=Brickfield%20Canvas"><i class='material-icons left'>email</i>Contact us</a>
          </div>

<br></br>

     <div class='container'>
          <div class='carousel carousel-slider center' data-indicators='true'>
              <div class='carousel-item orange black-text' href='#one!'>
                <h2>Entrance View</h2>
                <img src='images/new/View001.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Parking View</h2>
                <img src='images/new/View002.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Elevated View from West</h2>
                <img src='images/new/View003.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Courtyard View</h2>
                <img src='images/new/View004.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Balcony View</h2>
                <img src='images/new/View005.jpg'>
              </div>
          </div>
      </div>

<br></br>

      <h2 class='header center black-text text-lighten-10'>Brickfield Canvas Floorplans</h2>

      <div class='center'>
        <p>Please feel free to browse the buildings floorplans below.</p>
      </div>
      
      <div class='container center'>
          <img class='responsive-img' src='images/floorplan.jpg' width='600px'>
          <img class='responsive-img' src='images/specs.png' width='740px'>
          
      </div> 
      
  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header active orange darken-1">Ground Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan1.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">First Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan2.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">Second Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan3.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">Parking Layout</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan4.png'></div>
    </li>

  </ul> 

</div>

<a href='#'><div class='scrollToTop buttons btn black-text white curve'>Back to top<i class='material-icons left'>arrow_upward</i></div></a>