
<!-- Navigation buttons -->

  <div class='flex'>
      
      <a href='/'><div class='buttons btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/workspaces'><div class='buttons btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text white curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text grey curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>


<!-- Navigation buttons -->

<br></br>

<div class="container">

          <div class='mission z-depth-2'>
            <h4 class='black-text'>Our mission statement</h4>
            <p class='statement black-text'>Brickfield Canvas was envisioned as a means to relieve people of common worktime stress, We offer an entirely new environment to immerse oneself in, free from the usual stress's and strains that come along with working in a block of offices cramped full of people... Brickfield's workspaces are open, vivid and spaceous! There's no need to leave work if it's an enjoyable place to be right? So please inquire into our project further! We are certain these concept's will revolutionise work-spaces country-wide!</p>  
          </div>

</div>

  <div class='left row'>
    <div class='col s12'>
      <h4 class='left-align about-heading'>Address</h4>
      <p class='about-heading-text'>Brickfield Road, Woodstock 7925</p>
      <p class='about-heading-text'>Western Cape,  Cape Town, South Africa</p>
    </div>
  </div>

      <div class='left row'>
        <div class='col s6'>
            <h4 class='left-align about-heading'>Contact Us</h4>
            <p class='black-text about-heading-text'>If you would like to get more information, wish to organise a meeting with us or if you have any inquiries regarding mandates for engaging and represting us, please feel free to make contact...</p>
            <a class='buttons btn waves-effect waves-light white curve black-text about-button' href="mailto:trevor@sprinthive.com?subject=Brickfield%20Canvas"><i class='material-icons left'>email</i>Email</a>
        </div>    
      </div>

<br></br>

<!-- Google map -->

    <div id="map"></div>
          <script>

              function initMap() {
                var uluru = {lat: -33.9353159, lng: 18.454861};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

          </script>