<style>

    .add-box {
        padding-left: 40px;
        padding-right: 40px;
    }

    input {
        line-height: normal;
        border-color: lightblue !important;
    }

</style>

<form method='POST' action='/add/{{category}}'>
 
 <div class='add-box'>
    <h5 class='black-text'>Please fill in the details of your brokers-related post below</h5>

    <h5 class='black-text left-align'>Post name</h5>
        <input placeholder='post name' type='text' name='title'/>
    <h5 class='black-text left-align'>Topic post</h5>
        <input placeholder='topic description' type='text' name='description'/>
    <input value='add topic' type='submit' class='btn grey darken-3 z-depth-5'>
 </div>
</form>


