
<form method='POST' action='/add/{{category}}'>


    <h5 class='blue-text'>Please fill in the details of your event below...</h5>

    <h5 class='blue-text left-align'>Event name</h5>
        <input placeholder='event name' type='text' name='title'/>
    <h5 class='blue-text left-align'>Description of event</h5>
        <input placeholder='description' type='text' name='description'/>
    <input value='add event' type='submit' class='btn blue darken-3 z-depth-5'>
</form>


