<style>

    body {
      background-color: white;
    }


    .add-box {
        padding-left: 40px;
        padding-right: 40px;
    }

</style>

<form method='POST' action='/add/{{category}}' enctype="multipart/form-data">

<div class='add-box'>
  <div class='row'> 
      <div class='input-field'>
            <h5 class='black-text'>Please fill in the details of your blog post below...</h5>

            <h5 class='black-text left-align'>blog post name</h5>
                <input placeholder='blog post name' type='text' name='title'/>
            <h5 class='black-text left-align'>blog post</h5>    
                <input placeholder='blog post' type='text' name='description'/>

            <div class='center'>
                <button class="btn user-button btn-large waves-effect waves-light z-depth-3" type='submit'>Add Blog<i class='material-icons icon-white left'>add_circle_outline</i></button></a>
            </div>

            <input class='left' type='file' name='img'/>

    </div>
  </div> 
</div>

</form>

<br></br>
