
<!-- Navigation buttons -->

  <div class='flex'>
      
      <a href='/'><div class='buttons btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/workspaces'><div class='buttons btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text grey curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text white curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>


<!-- Navigation buttons -->

<!-- Second display-box -->

<h3>Coffee Shops</h3>

<div class='container box orange darken-1 z-depth-2'>
  <div class='row'>

    <div class='col s6'>
        <img class='box materialboxed card-image' src='images/coffeeShop1.jpg' width='700px'>
    </div>

    <div class='col s6 left-align'>
        <h3 class='black-text card-text'>Vibrant cafe's to fuel work efforts</h3>
        <p class='card-text'>We will have an array of stunning coffee shops working within the building to keep hunger and thirst at bay!</p>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop2.jpg' height='200px' width='300px'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop3.jpg' height='200px' width='300px'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop4.jpg' height='200px' width='300px'/></div>
</div>

<h3>Brickfields "Green" features</h3>

<div class='container orange darken-1 z-depth-2'>
  <div class='row'>

    <div class='col s6 left-align'>
        <h3 class='black-text card-text'>Top quality facilities</h3>
        <p class='card-text'>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... Throughout the building there will be wifi including fibre, solar panels to assist in producing power for the building, and green water solutions to contribute to the water crisis, We've got absolutely everything you need to help keep up productivity</p>
    </div>

    <div class='col s6 '>
        <img class='materialboxed card-image' src='images/solar.jpg'>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/fibre.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/water.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/wifi.jpg'/></div>
</div>

<br></br>

    <div class='container'>
          <div class='carousel carousel-slider center' data-indicators='true'>
              <div class='carousel-item orange black-text' href='#one!'>
                <h2>Entrance View</h2>
                <img src='images/new/View001.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Parking View</h2>
                <img src='images/new/View002.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Elevated View from West</h2>
                <img src='images/new/View003.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Courtyard View</h2>
                <img src='images/new/View004.jpg'>
              </div>
              <div class='carousel-item orange black-text'>
                <h2>Balcony View</h2>
                <img src='images/new/View005.jpg'>
              </div>
          </div>
    </div>

<br></br>

      <h2 class='header center black-text text-lighten-10'>Brickfield Canvas Floorplans</h2>

      <div class='center'>
        <p>Please feel free to browse the buildings floorplans below.</p>
      </div>
      
      <div class='container center'>
          <img class='responsive-img' src='images/floorplan.jpg' width='600px'>
          <img class='responsive-img' src='images/specs.png' width='740px'>
          
      </div> 

<div class='row center'>    

  <div class='col s12'>

  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header active orange darken-1">Ground Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan1.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">First Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan2.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">Second Storey</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan3.png'></div>
    </li>

    <li>
      <div class="collapsible-header orange darken-1">Parking Layout</div>
      <div class="collapsible-body"><img class='responsive-img' src='images/floorplan4.png'></div>
    </li>

  </ul> 

  </div>

</div>

<a href='#'><div class='scrollToTop buttons btn black-text white curve'>Back to top<i class='material-icons left'>arrow_upward</i></div></a>