
<!-- Navigation buttons -->

  <div class='flex'>
      
      <a href='/'><div class='buttons btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/blog'><div class='buttons btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text grey curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text white curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>


<!-- Navigation buttons -->

<br></br>

<!-- Second display-box -->

<div class='container box orange darken-1 z-depth-2'>
  <div class='row'>

    <div class='col s6'>
        <img class='box materialboxed card-image' src='images/coffeeShop1.jpg' width='700px'>
    </div>

    <div class='col s6 left-align'>
        <h3 class='black-text card-text'>Vibrant and colourful Cafe's</h3>
        <p class='card-text'>We will have an array of stunning coffee shops working within the building to fuel work efforts!</p>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop2.jpg' height='200px' width='300px'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop3.jpg' height='200px' width='300px'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/coffeeShop4.jpg' height='200px' width='300px'/></div>
</div>

<br></br>

<div class='container orange darken-1 z-depth-2'>
  <div class='row'>

    <div class='col s6 left-align'>
        <h3 class='black-text card-text'>Top quality and "Green" amenities</h3>
        <p class='card-text'>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... from wifi, to fibre, to solar panelling, We've got absolutely everything you need and more</p>
    </div>

    <div class='col s6 '>
        <img class='materialboxed card-image' src='images/solar.jpg'>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/fibre.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/water.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/wifi.jpg'/></div>
</div>

