<br></br>

<!-- Navigation buttons -->

  <div class='container flex'>
      
      <a href='/'><div class='btn black-text white curve'>Home</div></a>
      <a href='/tenants'><div class='btn black-text white curve'>Work Spaces</div></a>
      <a href='/brokers'><div class='btn black-text grey curve'>Amenities</div></a>
      <a href='/events'><div class='btn black-text white curve'>Events</div></a>
      <a href='/about'><div class='btn black-text white curve'>About Us</div></a>

  </div>

<!-- Navigation buttons -->

<br></br>
