<div class='flex'>

      <a href='/'><div class='buttons btn black-text white lighten-1 curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/blog'><div class='buttons btn black-text white lighten-1 curve'>Work Spaces<i class='icon material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text white lighten-1 curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white lighten-1 curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text white lighten-1 curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>

<br></br>

  <div class='container'>
      <p class='black-text'>Disclaimer - The images on display in this website are for display purposes only, and do not convey actual representations of the Brickfield Canvas project, the intention of this website is to illustrate the building based on existing concept designs, as well as including the idea's of the design team behind this project.</p>
  </div>