  <style>
      .login {
        display: hidden;
      }

 
  </style>
  
  <div class="container">
      <h2 class='header center blue-text text-lighten-10'>Events Information</h2>

      <div class='center black-text'>
        <p>Click an event to view it's details</p>
      </div>

  </div>
{{#each events}}

    <a style='color: black' href='/view/events/{{id}}'>
          <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
      {{/each}}
