  <style>

        #map {
            height: 400px;
            width: 100%;
        }

  </style>
  
<br></br>

<!-- Navigation buttons -->

  <div class='flex'>
    
      <a href='/'><div class='buttons btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/blog'><div class='buttons btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/brokers'><div class='buttons btn black-text white curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text grey curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text white curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>

<!-- Navigation buttons -->

<br></br>

  <div class="container">
      <h2 class='header center black-text text-lighten-10'>Events Information</h2>
  </div>

    <a style='color: black' >
          <div class='container'>
            <div class='col s12 m4'>
                <div class='card grey darken-2'>
                    <div class='card-content'>    
                        <span class='card-title black-text'>{{title}}</span>
                        <p class='black-text'>{{description}}</p>
                        <p class='black-text'>{{location}}</p>
                        <div id="map"></div>
                        <input value='{{location}}' style='display: none' id='location'/>
                    </div>
                </div>
            </div>
        </div>
    </a>
    
<script>

    //google map function

  var locationStr = String(document.getElementById('location').value); 

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });
      
    var address = locationStr;
    var geocoder= new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });

      }

      

</script>