  <style>
      
      .login {
        display: hidden;
      }

  </style>
  
<br></br>

<!-- Navigation buttons -->

  <div class='container flex'>
      
      <a href='/'><div class='btn curve'>Home</div></a>
      <a href='/tenants'><div class='btn curve'>Work Spaces</div></a>
      <a href='/brokers'><div class='btn curve'>Amenities</div></a>
      <a href='/events'><div class='btn grey curve'>Events</div></a>
      <a href='/about'><div class='btn curve'>About Us</div></a>

  </div>

<!-- Navigation buttons -->

<br></br>

  <div class="container">
      
      <h2 class='header center blue-text text-lighten-10'>Events Information</h2>

      <div class='center black-text'>
        <p>Click an event to view it's details</p>
      </div>

  </div>
  
{{#each events}}

    <a style='color: black' href='/view/events/{{id}}'>
          <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title white-text'>{{title}}</span>
                        <p class='white-text'>{{location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

{{/each}}
