  <style>
      .login {
        display: hidden;
      }
  </style>
  
  <div class="container">
      <h2 class='header center blue-text text-lighten-10'>Events Information</h2>

      <div class='center'>
        <p>Here is a list of our events</p>
      </div>

  </div>
  
    <a style='color: black'>
      {{#each events}}
          <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
      {{/each}}
    </a>

   