<h1 class='text'>Facilities</h1>

<h2 class='center'><u>Coffee Shops</u></h2>

<div class='container'>

    <div class='col s6'>
        <h4 class='black-text card-text'>Vibrant cafe's to fuel work efforts</h4>
        <p class=' card-text'>We will have an array of stunning coffee shops working within the building to keep hunger and thirst at bay!</p>
    </div>

</div>

<div class='row image-row'>
        <div class='col s6'><img class='materialboxed large-images z-depth-2' src='images/coffeeShop4.jpg'></div>
        <div class='col s6'><img class='materialboxed large-images z-depth-2' src='images/coffeeShop3.jpg'/></div>
</div>

<br></br>

<h2 class='center'><u>Seminar Rooms</u></h2>

<div class='container'>

    <div class='col s6'>
        <h4 class='black-text card-text'>Need to host an event?</h4>
        <p class=' card-text'>We have large seminar rooms available for hire, we also cater for all your technological needs</p>
    </div>

</div>

<div class='row image-row'>
    <div class='col s6'><img class='materialboxed large-images z-depth-2' src='images/seminar3.jpg'></div>
    <div class='col s6'><img class='materialboxed large-images z-depth-2' src='images/seminar2.png'/></div>
</div>

<br></br>

<a id="target"></a>

<h3>Apply for Event</h3>

  <div class="forms row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class='row'>
          <label>Select size</label>
          <select class="browser-default">
            <option value="" disabled selected>Choose room size</option>
            <option value="1">85m²</option>
            <option value="2">323m²</option>
          </select>
      </div>
      <div class='row'>
          <label>Select type of event</label>
          <select class="browser-default">
            <option value="" disabled selected>What kind of event will this be?</option>
            <option value="1">Conference</option>
            <option value="2">Classroom</option>
          </select>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input type="text" class="datepicker">
          <label for="time_date">Event date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input type="text" class="timepicker">
          <label for="time_date">Starting time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email Address</label>
        </div>
      </div>
      <button class='user-button btn btn-large waves-effect waves-light z-depth-3' type='submit'>Submit</button>
    </form>
  </div>

<a href="#" id='myBtn' class="scrollToTop z-depth-5">Back To Top<i class='material-icons left'>arrow_upward</i></a>

