<style>

  .img-circle {
      border-radius: 50%;
      width: 430px;
      height: 400px;
      margin: 15 0 15 0;
  }

  #map {
    height: 400px;
    width: 100%;
  }

  .image-corners {
    border-radius: 30px;
  }

  .template-img1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/sunset.png');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .textL {
    text-align: left;
  }

  .img {
    padding-bottom: 20px;
  }

</style>

<br></br>

<!-- Navigation buttons -->

  <div class='container flex'>
  
      <a href='/tenants'><div class='btn black-text white curve'>Work Spaces</div></a>
      <a href='/brokers'><div class='btn black-text white curve'>Amenities</div></a>
      <a href='/events'><div class='btn black-text white curve'>Events</div></a>
      <a href='/about'><div class='btn black-text white curve'>About Us</div></a>

  </div>

<!-- Navigation buttons -->

<br></br>

<!-- Greeting display-box -->

<div class='grey lighten-3'>
<div class='row'>

  <div class='col s6'>
    <img class='img-circle' src='images/workspace4.jpg'> 
  </div>

  <div class='container'>
  <div class='col s6 textL'>
    <h2 class='modak black-text'>Hello and Welcome!</h2>
    <h5 class='black-text'>Tired of work leaving you feeling like no more than another brick in the wall?</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workspace experience for you and your team, entirely free from stress, anxiety, and worries</p>
  </div>
  </div>

</div>  
</div>

  <div>
    <img class='responsive-img img' src='images/new/sunset.png'/>
  </div>

<!-- Google map -->

        <div id="map"></div>

          <script>

              function initMap() {
                var uluru = {lat: -33.9353159, lng: 18.454861};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

              $(document).ready(function(){
              $('.materialboxed').materialbox();
              });

          </script>

        </div>
      </div>
  </div>
