
<!-- Navigation buttons -->

  <div class='flex'>

      <a href='/'><div class='buttons btn black-text grey curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/blog'><div class='buttons btn black-text white lighten-1 curve'>Work Spaces<i class='icon material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/amenities'><div class='buttons btn black-text white lighten-1 curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='buttons btn black-text white lighten-1 curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='buttons btn black-text white lighten-1 curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>

<!-- Navigation buttons -->

<br></br>

<!-- Greeting display-box -->

<div class='grey lighten-2'>
<div class='row'>

  <div class='col s6'>
    <img class='img-circle' src='images/workspace6.jpg'> 
  </div>

  <div class='container greeting'>
    <div class='col s6'>
      <h2 class='black-text'>Hello and Welcome!</h2>
      <h5 class='black-text'>Tired of work leaving you feeling like no more than another brick in the wall?</h5>
      <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality work experience for you and your team, entirely free from stress, anxiety, and worries</p>
    </div>
  </div>

</div>  
</div>

  <div>
    <img class='responsive-img img' src='images/new/sunset.png'/>
  </div>

<!-- Google map -->

        <div id="map"></div>
          <script>

              function initMap() {
                var uluru = {lat: -33.9353159, lng: 18.454861};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

          </script>
