<style>

  .img-circle {
      border-radius: 50%;
      width: 430px;
      height: 400px;
      float: left;
  }

  .float-left {
    float: left;
    margin: 25 0 25 25;
  }

  .carousel {
    width: 699px;
    height: 150px;
  }

  .image {
    margin: 0 25 0 25;
  }

  .text {
    padding-left: 45px;
    padding-right: 45px;
  }

  #map {
    height: 400px;
    width: 100%;
  }

  .slides {
    padding-left: 325px;
  }

</style>

<div class='container greeting'>

  <br></br>

  <div>
    <img class='img-circle' src='images/workspace4.jpg'> 
  </div>

  <div class='text'>
    <h1 class='blue-text'>Hello and Welcome!</h1>
    <h5 class='orange-text'>Tired of work leaving you feeling like no more than just another brick in the wall?</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
  </div>
</div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text'>
        <h2>Bright colors and vibrant design</h2>
        <img class='responsive-img' src='images/workspace3.jpg'>
      </div>
      
      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Cozy and fun office spaces</h2>
        <img class='responsive-img' src='images/workspace2.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fully functional Coffee bars</h2>
        <img class='responsive-img' src='images/coffeeShop2.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Ultra modern styling  </h2>
        <img class='responsive-img' src='images/meeting2.jpg'>
      </div>

    </div>
</div>

 <div class='block'>
    <h1 class='blue-text'>Bring home to work</h1>
    <h5 class='orange-text'>Feel like just staying at home today? At Brickfield Canvas... You can!</h5>
    <p>In brickfield office's you'll always experience all the comforts of home, at work! from coffee, to couches, to yoga... everything you need to increase productivity</p>
 </div>

<br></br>

<div class='right image'>
  <img class='responsive-img' src='images/meeting4.jpg' width='598px' height='400px'>
</div>

<div class='text'>
    <h1 class='blue-text'>Stunning conference rooms</h1>
    <h5 class='orange-text'>Need some space for a group meeting?</h5>
    <p>Brickfield Canvas has a host of the best conference rooms to offer, fully outfitted with everything needed to support a meeting, from A/V gear to wall-mounted tv's for presentations, Brickfield Canvas has what you're looking for</p>
 </div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Beautifully well thought-out interiors</h2>
        <img src='images/coffeeShop4.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fibre internet connection</h2>
        <img src='images/fibre.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Inviting and comfortable</h2>
        <img src='images/meeting3.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Solar power</h2>
        <img src='images/solar.jpg'>
      </div>

    </div>
</div>

<br></br>

 <div class='block'>
    <h1 class='blue-text'>Top quality amenities</h1>
    <h5 class='orange-text'>We've got your back!</h5>
    <p>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... from wifi, to fibre, to solar panelling, We've got absolutely everything you need and more</p>
 </div>

 <br></br>

<div class='right image'>
  <img class='responsive-img' src='images/workspace1.jpg' width='598px' height='400px'>
</div>

<br></br>

<div class='text'>
    <h1 class='blue-text'>A truly unique work experience</h1>
    <h5 class='orange-text'>Find the fun in work!</h5>
    <p>We've done all the work so you don't need to... Simply bring yourself and your laptop, sit down wherever you'd like and begin your day! We've designed Brickfield Canvas to relieve the usual stress's and strains of an office job</p>
 </div>

<br></br>
<br></br>

  <div class='slides center'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <img src='images/workspace8.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/coffeeShop3.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/workspace6.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/workspace7.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/meeting6.jpg'>
      </div>

    </div>
  </div>

  <div class='container'>
    <div class='center'>
      <p class='orange-text'>Download our information and sign-up forms below...</p>
    </div>
  </div>

  <div>
    <a href='forms/Brickfield Tenants Information.pdf'><button class='btn blue z-depth-5'>Sign up forms</button></a>
    <a href='forms/Brickfield Group indicative rentals 21 Sep 2017.odt'><button class='btn blue z-depth-5'>Pricing forms</button></a>
  </div>

  <div class="container">
      <h2 class='header center blue-text text-lighten-10'>Building Information</h2>
  </div>

  <div id='blog' class='row'>

   <div class='col s4 center'> <a href='/events'>
      
     <div class='card' class='post'>
       <div class='card-image responsive-img'>
           <img class='boxes' src='images/brickfield.webp' class='image'>
       </div>
       <div class='card-content'>
         <p class='head'>Events Info.</p>
         <p class='orange-text'>Find out what events are being held here</p>   
       </div>
     </div>  
     
    </a></div>

  <div class='col s4 center'> <a href='/tenants'> 
     
    <div class='card' class='post'>
      <div class='card-image responsive-img'>
          <img class='boxes' src='images/parking.jpg' class='image'>
      </div>
      <div class='card-content'>
        <p class='head'>Tenants Info.</p>
        <p class='orange-text'>Looking to rent?</p>   
      </div>
    </div>  
    
  </a></div>

 <div class='col s4 center'> <a href='/brokers'>
    
   <div class='card' class='post'>
     <div class='card-image responsive-img'>
         <img class='boxes' src='images/floorplan.jpg' class='image'>
     </div>
     <div class='card-content'>
       <p class='head'>Brokers Info.</p>
       <p class='orange-text'>Looking to represent this Project?</p>   
     </div>
   </div> 
    
  </a></div>  
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header white-text text-lighten-10"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/balcony.jpg" width='120px' alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col s12 center">
        
          <h4 class='blue-text'>Everything you need to know about our operation</h4>
          
          <p>Brickfield Canvas was envisioned as a means to relieve people of common worktime stress, We offer an entirely new environment to immerse oneself in, free from the usual stress's and strains that come along with working in a block of offices cramped full with people... Brickfield's workspaces are open, vivid and spaceous! There's no need to leave work if it's an enjoyable place to be right? So please inquire more into our project! We are certain these concept's will revolutionise work-spaces world-wide!</p>  

          <div class='container'>
            <p class='orange-text'>If you would like to get more information, wish to organise a meeting with us or if you have any inquiries regarding mandates for engaging and represting us, please feel free to contact us...</p>
            <a class='waves-effect waves-light btn blue z-depth-5' href="mailto:trevor@sprinthive.com?subject=Brickfield%20Canvas"><i class='material-icons left'>email</i>Contact us</a>
          </div>

          <h3 class='orange-text'>Where we are located</h3>
          <div id="map"></div>

          <script>

              function initMap() {
                var uluru = {lat: -33.9353159, lng: 18.454861};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

          </script>

        </div>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/courtyard.jpg" width='120px' alt="Unsplashed background img 3"></div>
  </div>