<style>

  .img-circle {
      border-radius: 50%;
      width: 430px;
      height: 400px;
      float: left;
  }

  .float-left {
    float: left;
    margin: 25 0 25 25;
  }

  .carousel {
    width: 699px;
    height: 150px;
  }

  .image {
    margin: 0 25 0 25;
  }

  .text {
    padding-left: 45px;
    padding-right: 45px;
  }

</style>

<div class='container greeting'>

  <br></br>

  <div>
    <img class='img-circle' src='images/workspace4.jpg'> 
  </div>

  <div class='text'>
    <h1 class='blue-text'>Hello and Welcome!</h1>
    <h5 class='orange-text'>Tired of work leaving you feeling like no more than just another brick in the wall?</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
  </div>
</div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text'>
        <h2>Bright colors and vibrant design</h2>
        <img class='responsive-img' src='images/workspace3.jpg'>
      </div>
      
      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Cozy and fun office spaces</h2>
        <img class='responsive-img' src='images/workspace2.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fully functional Coffee bars</h2>
        <img class='responsive-img' src='images/coffeeShop2.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Ultra modern styling  </h2>
        <img class='responsive-img' src='images/meeting2.jpg'>
      </div>

    </div>
</div>

 <div class='block'>
    <h1 class='blue-text'>Bring home to work</h1>
    <h5 class='orange-text'>Feel like just staying at home today? At Brickfield Canvas... You can!</h5>
    <p>In brickfield office's you'll always experience all the comforts of home, at work! from coffee, to couches, to yoga... everything you need to increase productivity</p>
 </div>

<br></br>

<div class='right image'>
  <img class='responsive-img' src='images/meeting4.jpg' width='598px' height='400px'>
</div>

<div class='text'>
    <h1 class='blue-text'>Stunning conference rooms</h1>
    <h5 class='orange-text'>Need some space for a group meeting?</h5>
    <p>Brickfield Canvas delivers a host of the best conference rooms to offer, fully outfitted with everything needed to support a meeting, from A/V gear to wall-mounted tv's for presentations, Brickfield Canvas has what you're looking for</p>
 </div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Beautifully well thought-out interiors</h2>
        <img src='images/coffeeShop4.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fibre internet connection</h2>
        <img src='images/fibre.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Inviting and comfortable</h2>
        <img src='images/meeting3.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Solar power</h2>
        <img src='images/solar.jpg'>
      </div>

    </div>
</div>

<br></br>

 <div class='block'>
    <h1 class='blue-text'>Top quality amenities</h1>
    <h5 class='orange-text'>We've got your back!</h5>
    <p>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... from wifi, to fibre, to solar panelling, We've got absolutely everything you need and more</p>
 </div>

 <br></br>

<div class='right image'>
  <img class='responsive-img' src='images/workspace1.jpg' width='598px' height='400px'>
</div>

<br></br>

<div class='text'>
    <h1 class='blue-text'>A truly unique work experience</h1>
    <h5 class='orange-text'>Find the fun in work!</h5>
    <p>We've done all the work so you don't need to... Simply bring yourself and your laptop, sit down wherever you'd like and begin your day! We've designed Brickfield Canvas to relieve the usual</p>
 </div>

 <br></br>
 
  <div class="container">
      <h2 class='header center blue-text text-lighten-10'>Building Information</h2>
  </div>

  <div id='blog' class='row'>

   <div class='col s4 center'> <a href='/events'>
      
     <div class='card' class='post'>
       <div class='card-image responsive-img'>
           <img class='boxes' src='images/brickfield.webp' class='image'>
       </div>
       <div class='card-content'>
         <p class='head'>Events Info.</p>
         <p>Find out what events are being held here</p>   
       </div>
     </div>  
     
    </a></div>

  <div class='col s4 center'> <a href='/tenants'> 
     
    <div class='card' class='post'>
      <div class='card-image responsive-img'>
          <img class='boxes' src='images/parking.jpg' class='image'>
      </div>
      <div class='card-content'>
        <p class='head'>Tenants Info.</p>
        <p>Looking to rent?</p>   
      </div>
    </div>  
    
  </a></div>

 <div class='col s4 center'> <a href='/brokers'>
    
   <div class='card' class='post'>
     <div class='card-image responsive-img'>
         <img class='boxes' src='images/floorplan.jpg' class='image'>
     </div>
     <div class='card-content'>
       <p class='head'>Brokers Info.</p>
       <p>Looking to Invest?</p>   
     </div>
   </div> 
    
  </a></div>  
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header white-text text-lighten-10"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/balcony.jpg" width='120px' alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col s12 center">
        
          <h4 class='blue-text'>Everything you need to know about our operation</h4>
          
          <p>Firefly Capital established Brickfield Group in 2009. Brickfield Group is a wholly owned property holding company. Brickfield Call Centre was the first commercial acquisition and is situated in the old textile production area of Woodstock in Cape Town, South Africa. The building occupies 6000sqm of lettable area. 
           Brickfield Group renovated the warehouse from an old textile factory, to a modern office which houses an 800 seat call centre. The site offers state-of-the-art telephony and IT infrastructure, training facilities for up to 50 learners, 64 meeting room seats and 200 indoor and outdoor agent pause area seats.
           Brickfield Group has aquired 3 properties (in Cape Town and Johannesburg) and has gross letable area of over 14,000 square meters. 
          </p>  

        </div>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/courtyard.jpg" width='120px' alt="Unsplashed background img 3"></div>
  </div>