<style>

  .img-circle {
      border-radius: 50%;
      width: 430px;
      height: 400px;
      float: left;
  }

  .greeting {
    display: 
  }

  .float-left {
    float: left;
    margin: 25 0 25 25;
  }

  .carousel {
    width: 699px;
    height: 150px;
  }

  .image {
    margin: 0 25 0 25;
  }

</style>

<div class='container greeting'>

  <br></br>

  <div>
    <img class='img-circle' src='images/workspace4.jpg'> 
  </div>

<br></br>

  <div>
    <h1>Hello and Welcome!</h1>
    <h5>Not just another brick in the wall...</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
  </div>
</div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Solar panels</h2>
        <img src='images/solar.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Wifi throughout</h2>
        <img src='images/wifi.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fibre internet connection</h2>
        <img src='images/fibre.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Green water solutions</h2>
        <img src='images/water.jpg'>
      </div>

    </div>
</div>

 <div class='block'>
    <h1 class='blue-text'>Top quality amenities</h1>
    <h5>Not just another brick in the wall...</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
 </div>

<br></br>

<div class='right image'>
  <img src='images/meeting4.jpg' width='600px' height='400px'>
</div>

<br></br>

<div class='block'>
    <h1 class='blue-text'>Stunning meeting rooms</h1>
    <h5>Not just another brick in the wall...</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
 </div>

<br></br>

<div class='container float-left'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Solar panels</h2>
        <img src='images/solar.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Wifi throughout</h2>
        <img src='images/wifi.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fibre internet connection</h2>
        <img src='images/fibre.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Green water solutions</h2>
        <img src='images/water.jpg'>
      </div>

    </div>
</div>

 <div class='block'>
    <h1 class='blue-text'>Top quality amenities</h1>
    <h5>Not just another brick in the wall...</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
 </div>

 <br></br>

<div class='right image'>
  <img src='images/meeting4.jpg' width='600px' height='400px'>
</div>

<br></br>

<div class='block'>
    <h1 class='blue-text'>Stunning meeting rooms</h1>
    <h5>Not just another brick in the wall...</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workplace experience for you and your team, entirely free from stress, anxiety, and worries</p>
 </div>

 <br></br>

  <div class="container">
      <h2 class='header center blue-text text-lighten-10'>Building Information</h2>
  </div>

  <div id='blog' class='row'>

   <div class='col s4 center'> <a href='/events'>
      
     <div class='card' class='post'>
       <div class='card-image responsive-img'>
           <img class='boxes' src='images/brickfield.webp' class='image'>
       </div>
       <div class='card-content'>
         <p class='head'>Events Info.</p>
         <p>Find out what events are being held here</p>   
       </div>
     </div>  
     
    </a></div>

  <div class='col s4 center'> <a href='/tenants'> 
     
    <div class='card' class='post'>
      <div class='card-image responsive-img'>
          <img class='boxes' src='images/parking.jpg' class='image'>
      </div>
      <div class='card-content'>
        <p class='head'>Tenants Info.</p>
        <p>Looking to rent?</p>   
      </div>
    </div>  
    
  </a></div>

 <div class='col s4 center'> <a href='/brokers'>
    
   <div class='card' class='post'>
     <div class='card-image responsive-img'>
         <img class='boxes' src='images/floorplan.jpg' class='image'>
     </div>
     <div class='card-content'>
       <p class='head'>Brokers Info.</p>
       <p>Looking to Invest?</p>   
     </div>
   </div> 
    
  </a></div>  
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header white-text text-lighten-10"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/balcony.jpg" width='120px' alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col s12 center">
        
          <h4 class='blue-text'>Everything you need to know about our operation</h4>
          
          <p>Firefly Capital established Brickfield Group in 2009. Brickfield Group is a wholly owned property holding company. Brickfield Call Centre was the first commercial acquisition and is situated in the old textile production area of Woodstock in Cape Town, South Africa. The building occupies 6000sqm of lettable area. 
           Brickfield Group renovated the warehouse from an old textile factory, to a modern office which houses an 800 seat call centre. The site offers state-of-the-art telephony and IT infrastructure, training facilities for up to 50 learners, 64 meeting room seats and 200 indoor and outdoor agent pause area seats.
           Brickfield Group has aquired 3 properties (in Cape Town and Johannesburg) and has gross letable area of over 14,000 square meters. 
          </p>  

        </div>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/courtyard.jpg" width='120px' alt="Unsplashed background img 3"></div>
  </div>