<style>

  .img-circle {
      border-radius: 50%;
      width: 430px;
      height: 400px;
      margin: 15 0 15 0;
  }

  .textR {
    text-align: right;
  }

  .textL {
    text-align: left;
  }

  #map {
    height: 400px;
    width: 100%;
  }

  .mission {
    font-size: 15px;
    border: 4px solid black;
    border-radius: 30px;
  }

  .width {
    width: 100%;
  }

  .image-corners {
    border-radius: 30px;
  }

  .template-img1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/sunset.png');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .template-img2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/inside.png');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .box {
    border-radius: 30px;
  }

  .modak {
    font-family: 'Modak', cursive;
    text-shadow: 0 1px 1px black;
  }

  .shrink {
    padding-left: 24px;
  }

</style>

<br></br>

<!-- Greeting -->

<div class='grey lighten-2'>
<div class='row'>

  <div class='col s6'>
    <img class='img-circle' src='images/workspace4.jpg'> 
  </div>

  <div class='container'>
  <div class='col s6 textL'>
    <h2 class='modak black-text'>Hello and Welcome!</h2>
    <h5 class='blue-text'>Tired of work leaving you feeling like no more than another brick in the wall?</h5>
    <p>Experience an entirely new workplace, Brickfield Canvas is dedicated to delivering the highest quality workspace experience for you and your team, entirely free from stress, anxiety, and worries</p>
  </div>
  </div>

</div>  
</div>

<!-- First div -->

<div class='container box blue lighten-1 z-depth-4'>
  <div class='row'>
    
    <div class='col s6 textR'>
        <h3 class='modak white-text'>All home's comforts here at work</h3>
        <p class='black-text shrink'>In brickfield offices you'll always experience all the comforts of home, at work!... from coffee, to couches, to yoga... everything you need to increase your productivity</p>
    </div>

    <div class='col s6'>
        <img class='responsive-img image-corners' src='images/workspace3.jpg'>
    </div>

  </div>
</div>

<!-- Second div -->

<div class='container box blue lighten-1 z-depth-4'>
  <div class='row'>

    <div class='col s6'>
        <img class='responsive-img image-corners' src='images/meeting4.jpg' width='660px'>
    </div>

    <div class='col s6 textL'>
        <h3 class='modak white-text'>Stunning conference rooms</h3>
        <p>Brickfield Canvas has a host of the best conference rooms to offer, fully outfitted with everything needed to support a meeting, from A/V gear to wall-mounted tv's for presentations, Brickfield Canvas has what you're looking for</p>
    </div>

  </div>
</div>

<!-- Third div -->

<div class='container box blue lighten-1 z-depth-4'>
  <div class='row'>

    <div class='col s6 textR'>
        <h3 class='modak white-text'>Top quality and "Green" amenities</h3>
        <p class='black-text'>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... from wifi, to fibre, to solar panelling, We've got absolutely everything you need and more</p>
    </div>

    <div class='col s6 '>
        <img class='responsive-img image-corners' src='images/solar.jpg'>
    </div>

  </div>
</div>

<!-- Fourth div -->

<div class='container box blue lighten-1 z-depth-4'>
  <div class='row'>

    <div class='col s6'>
        <img class='responsive-img image-corners' src='images/workspace1.jpg' width='700px'>
    </div>

    <div class='col s6 textL'>
        <h3 class='modak white-text'>A truly unique work experience</h3>
        <p>We've done all the work so you don't need to... Simply bring yourself and your laptop, sit down wherever you'd like and begin your day! We've designed Brickfield Canvas to relieve the usual stress's and strains that usually accompany an office job</p>
    </div>

  </div>
</div>

<!-- End of divs -->

<!-- Carousel -->

  <div class='container z-depth-5'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item white-text' href='#one!'>
        <img src='images/workspace8.jpg' height='515px'>
      </div>

      <div class='carousel-item white-text'>
        <img src='images/coffeeShop3.jpg'>
      </div>

      <div class='carousel-item white-text'>
        <img src='images/workspace6.jpg'>
      </div>

      <div class='carousel-item white-text'>
        <img src='images/workspace7.jpg'>
      </div>

      <div class='carousel-item white-text'>
        <img src='images/meeting6.jpg'>
      </div>

    </div>
  </div>

  <div class='container'>
    <div class='center'>
      <p class='black-text'>Download our information and sign-up forms below...</p>
    </div>
  </div>

  <div>
    <a href='forms/Brickfield Tenants Information.pdf'><button class='btn blue z-depth-5 white-text'>Sign up forms</button></a>
    <a href='forms/Brickfield Group indicative rentals 21 Sep 2017.docx'><button class='btn blue z-depth-5 white-text'>Pricing forms</button></a>
  </div>

<!-- Screen navigation buttons -->

  <div class="container">
      <h2 class='header center black-text text-lighten-10'>Building Information</h2>
  </div>

  <div id='blog' class='row'>

   <div class='col s4 center'> <a href='/events'>
      
     <div class='card grey lighten-1' class='post'>
       <div class='card-image responsive-img'>
           <img class='boxes' src='images/new/View004.jpg' class='image'>
       </div>
       <div class='card-content'>
         <p class='black-text'>Events Info.</p>
         <p class='blue-text'>Find out what events are being held here</p>   
       </div>
     </div>  
     
    </a></div>

  <div class='col s4 center'> <a href='/tenants'> 
     
    <div class='card grey lighten-1' class='post'>
      <div class='card-image responsive-img'>
          <img class='boxes' src='images/new/View007.jpg' class='image'>
      </div>
      <div class='card-content'>
        <p class='black-text'>Blog Space</p>
        <p class='blue-text'>Interested in seeing what we're about?</p>   
      </div>
    </div>  
    
  </a></div>

 <div class='col s4 center'> <a href='/brokers'>
    
   <div class='card grey lighten-1' class='post'>
     <div class='card-image responsive-img'>
         <img class='boxes' src='images/new/View002.jpg' class='image'>
     </div>
     <div class='card-content'>
       <p class='black-text'>Building Floorplans</p>
       <p class='blue-text'>Care to see the layout of the building</p>   
     </div>
   </div> 
    
  </a></div>  
  </div>

<!-- Screen navigation buttons -->

  <div class="parallax-container valign-wrapper">
    <div class="">
      <div class="container">
        <div class="row center">
          
        </div>
      </div>
    </div>
    <div class="parallax"><img class='responsive-img template-img1'></div>
  </div>

<br></br>

  <div class="container">
      <div class="row">
        <div class="col s12 center">
 
          <div class='mission blue'>
            <h4 class='white-text'>Our mission statement</h4>
            <p class='statement black-text'>Brickfield Canvas was envisioned as a means to relieve people of common worktime stress, We offer an entirely new environment to immerse oneself in, free from the usual stress's and strains that come along with working in a block of offices cramped full with people... Brickfield's workspaces are open, vivid and spaceous! There's no need to leave work if it's an enjoyable place to be right? So please inquire into our project further! We are certain these concept's will revolutionise work-spaces country-wide!</p>  
          </div>

          <div class='container'>
            <p class='black-text'>If you would like to get more information, wish to organise a meeting with us or if you have any inquiries regarding mandates for engaging and represting us, please feel free to contact us...</p>
            <a class='waves-effect waves-light btn blue z-depth-5 white-text' href="mailto:trevor@sprinthive.com?subject=Brickfield%20Canvas"><i class='material-icons left'>email</i>Contact us</a>
          </div>

          <h3>Where we are located</h3>
          <div id="map"></div>

          <script>

              function initMap() {
                var uluru = {lat: -33.9353159, lng: 18.454861};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

          </script>

        </div>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class='responsive-img template-img2'></div>
  </div>