
<style>

    input {
        line-height: normal;
        border-color: lightblue !important;
    }

     .add-box {
        padding-left: 40px;
        padding-right: 40px;
    }


</style>

<form method='POST' action='/login'>
<h5 class='blue-text'>Please input your login details...</h5>

<div class='add-box'>

    <h5 class='blue-text left-align'>Email:</h5>
        <input placeholder='email' type='text' name='email'/>
    <h5 class='blue-text left-align'>Password:</h5>    
        <input placeholder='password' type='password' name='password'/>
        <input actions='/login/{{email}}/{{password}}' value='login' type='submit' class='btn blue darken-3 z-depth-5'>

</div>
</form>
