  <style>
      
      .login {
        display: hidden;
      }

  </style>

<h1 class='text'>Rates</h1>

<br></br>

<a id="target"></a>

<h3><u>Membership Cost breakdown</u></h3>

<table class='table'>
  <tr>
    <th class='table-header center'><u>Period</u></th>
    <th class='table-header center'><u>Cost</u></th>
    <th class='table-header center'><u>Included in Package</u></th>
  </tr>
  <tr>
    <th class='center'>12 Months</th>
    <th class='center'>R2940/PM</th>
    <th class='center'>Access to board rooms, Dedicated Desk, Access to Seminar rooms</th>
  </tr>
  <tr>
    <th class='center'>6 Months</th>
    <th class='center'>R3080/PM</th>
    <th class='center'>Access to board rooms, Dedicated Desk</th>
  </tr>
  <tr>
    <th class='center'>3 Months</th>
    <th class='center'>R3220/PM</th>
    <th class='center'>Dedicated Desk</th>
  </tr>
  <tr>
    <th class='center'>Monthly</th>
    <th class='center'>R3500/PM</th>
    <th class='center'>Access to building and co-working zones</th>
  </tr>
</table>

<a id="target"></a>

<h3><u>Meeting Rooms</u></h3>

<table class='table'>
  <tr>
    <th class='table-header center'><u>Size</u></th>
    <th class='table-header center'><u>Holds</u></th>
    <th class='table-header center'><u>Hourly Rate</u></th>
    <th class='table-header center'><u>Daily Rate</u></th>
  </tr>
  <tr>
    <th class='center'>12m²</th>
    <th class='center'>6 People</th>
    <th class='center'>R250</th>
    <th class='center'>R1750</th>
  </tr>
  <tr>
    <th class='center'>35m²</th>
    <th class='center'>32 People</th>
    <th class='center'>R500</th>
    <th class='center'>R3200</th>
  </tr>
</table>

<h3><u>Events</u></h3>

<table class='table'>
  <tr>
    <th class='table-header center'><u>Size</u></th>
    <th class='table-header center'><u>Holds</u></th>
    <th class='table-header center'><u>Half-Day</u></th>
    <th class='table-header center'><u>Full-Day</u></th>
  </tr>
  <tr>
    <th class='center'>85m²</th>
    <th class='center'>48 People</th>
    <th class='center'>R3000</th>
    <th class='center'>R4900</th>
  </tr>
  <tr>
    <th class='center'>323m²</th>
    <th class='center'>150 People</th>
    <th class='center'>R18000</th>
    <th class='center'>R30000</th>
  </tr>
</table>

<br></br>