<div class="container">
      <h2 class='header center blue-text text-lighten-10'>Tenants Information</h2>
      
      <div class='center'>
        <p>Looking for a new fun space to work in? Brickfield Canvas will offer the perfect environment for and your team!</p>
      </div>
      
      <div class='container'>
          <div class='carousel carousel-slider center' data-indicators='true'>
              <div class='carousel-item blue white-text' href='#one!'>
                <h2>Entrance View</h2>
                <img src='images/entrance.jpg'>
              </div>
              <div class='carousel-item blue white-text'>
                <h2>Parking View</h2>
                <img src='images/parking.jpg'>
              </div>
              <div class='carousel-item blue white-text'>
                <h2>Elevated View from West</h2>
                <img src='images/elevation.jpg'>
              </div>
              <div class='carousel-item blue white-text'>
                <h2>Courtyard View</h2>
                <img src='images/courtyard.jpg'>
              </div>
              <div class='carousel-item blue white-text'>
                <h2>Balcony View</h2>
                <img src='images/balcony.jpg'>
              </div>
          </div>
      </div>

      <div class='center'>
        <p>(The images above are draggable)</p>
      </div>
    
      <div class='center'>
        <p>Brickfield canvas is a fun and innovative workspace which strives to alleviate the common misperception of work being a bland and boring space, and presents a new, interesting and modern location for people to work within</p>    
      </div>        
      
  </div>

<br></br>

  <h3 class='header center blue-text text-lighten-10'>Vibrant and colourful Cafe's</h2>

<div class='container'>
  <div class='center'>
    <p>We will have an array of stunning coffee shops working within the building to fuel work efforts!</p>
  </div>
</div>
  <div class='container'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <img src='images/coffeeShop1.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/coffeeShop2.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/coffeeShop3.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/coffeeShop4.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/coffeeShop5.jpg'>
      </div>

    </div>
  </div>

<br></br>

<h3 class='header center blue-text text-lighten-10'>Trendy and fun Workspaces!</h2>

<div class='container'>
  <div class='center'>
    <p>Put the fun in function!  The perfect place to hold a work function in a colorful environment, Various work space's of differing sizes will be available for use for as well</p>
  </div>
</div>

  <div class='container'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <img class='responsive-img' src='images/workspace1.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img class='responsive-img' src='images/workspace2.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img class='responsive-img' src='images/workspace3.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img class='responsive-img' src='images/workspace4.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img class='responsive-img' src='images/workspace5.jpg' height='515px'>
      </div>

    </div>
  </div>

<br></br>

<div class='container'>
  <div class='center'>
    <h3 class='header center blue-text text-lighten-10'>Meeting Rooms</h2>
  </div>
</div>

<div class='container'>
  <div class='center'>
    <p>Remove the seriousness and intesity of business meetings, our meeting rooms will be designed specifically to introduce a fun and creative place to host meetings for companies, coffee's or whatever your needs may be...</p>
  </div>
</div>

  <div class='container'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <img src='images/meeting1.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/meeting2.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/meeting3.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/meeting4.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <img src='images/meeting5.jpg'>
      </div>

    </div>
  </div>

<br></br>

<h2  class='header center blue-text text-lighten-10'>Top quality thechnologies, and environmentally oriented facilities</h2>

<div class='container'>
  <div class='center'>
    <p>Brickfield Canvas will support a host some of the best amenities currently in circulation, including Solar panels, Wifi, Fibre and green water solutions</p>
  </div>
</div>

  <div class='container'>
    <div class='carousel carousel-slider center' data-indicators='true'>

      <div class='carousel-item blue white-text' href='#one!'>
        <h2>Solar panels</h2>
        <img src='images/solar.jpg' height='515px'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Wifi throughout</h2>
        <img src='images/wifi.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Fibre internet connection</h2>
        <img src='images/fibre.jpg'>
      </div>

      <div class='carousel-item blue white-text'>
        <h2>Green water solutions</h2>
        <img src='images/water.jpg'>
      </div>

    </div>
  </div>

<div class='container'>
  <div class='center'>
    <p>Download our information and sign-up forms below...</p>
  </div>
</div>

<a href='forms/Brickcfield Tenants information.odt'><button class='btn blue z-depth-5'>Sign up forms</button></a>

<a href='forms/Brickcfield Group indictive rentals.odt '><button class='btn blue z-depth-5'>Pricing forms</button></a>

<br></br>

  <a style='color: black'>
      {{#each tenants}}
         <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
      {{/each}}
  </a>