
<!-- Navigation buttons -->

  <div class='flex'>
      
      <a href='/'><div class='btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/tenants'><div class='btn black-text grey curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/brokers'><div class='btn black-text white curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='btn black-text white curve'>About Us<i class='material-icons left'>group</i></div></a>

  </div>

<!-- Navigation buttons -->

<h2 class='center'>Meeting Rooms</h2>

<!-- First display-box -->

<div class='container box grey lighten-1 z-depth-4'>
  <div class='row'>

    <div class='col s6'> 
        <img class='box materialboxed card-image' src='images/meeting4.jpg'>
    </div>

    <div class='col s6'>
        <h3 class='black-text card-text'>Stunning conference rooms</h3>
        <p class='card-text'>Brickfield Canvas will have a host of the best conference rooms to offer, fully outfitted with everything needed to support a meeting, from A/V gear to wall-mounted tv's for presentations, Brickfield Canvas has what you'll need</p>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/meeting1.jpg' /></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/meeting2.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/meeting3.jpg'/></div>
</div>

<h2 class='center'>Work Desks</h2>

<!-- Second display-box -->

<div class='container box grey lighten-1 z-depth-4'>
  <div class='row'>

    <div class='col s6'>
        <h3 class='black-text card-text'>A truly unique work experience</h3>
        <p class='card-text'>We've done all the work so you don't need to... Simply bring yourself and your laptop, sit down wherever you'd like and begin your day! We've designed Brickfield Canvas to relieve the usual stress's and strains that usually accompany an office job</p>
    </div>

    <div class='col s6'>
        <img class='box materialboxed card-image' src='images/workspace1.jpg'>
    </div>

  </div>
</div>

<br></br>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image' src='images/workspace2.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/workspace3.jpg'/></div>
    <div class='col s4'><img class='materialboxed row-image' src='images/workspace4.jpg'/></div>
</div>

<!-- Form download buttons -->

  <div class='container'>
    <div class='center'>
      <p class='black-text'>View our pricing-information and sign-up forms below...</p>
    </div>
  </div>

  <div class='button'>
    <a href='forms/Brickfield Tenants Information.pdf'><button class='btn curve white black-text'>Sign up forms</button></a>
    <a href='forms/Brickfield Group indicative rentals 21 Sep 2017.docx'><button class='btn curve white black-text'>Pricing forms</button></a>
  </div>

<!-- Form download buttons -->

 <a style='color: black'>
      {{#each tenants}}
         <div class='container'>
            <div class='col s12 m4'>
                <div class='card grey'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                        <img width="500" height="300" src="{{img}}"/>
                    </div>
                </div>
            </div>
        </div>
      {{/each}}
  </a>