/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .button-collapse {
   color: #26a69a;
 }
 .parallax-container .parallax img {
     display: block !important;
 }
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
}
   
.parallax-container .section {
     width: 100%;
}

select {
    display: block !important;
}

.box {
    justify-content: center;
    text-align: left;
}

.card-image {
    width: 100%;
    height: 350px;
    padding: 15px 10px;
}
.card-text {
    padding: 10px;
}

.image-row {
    padding: 0px 50px;
}
.row-image {
    height: 250px;
    width: 100%;
    padding: 5px;
}

.img-circle {
  border-radius: 50%;
  width: 430px;
  height: 400px;
  margin: 15 0 15 0;
}

#map {
height: 400px;
width: 100%;
}

.image-corners {
border-radius: 30px;
}

.template-img1 {
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/new/sunset.png');
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
}

.img {
padding-bottom: 20px;
}

.header-item {
  padding: 5px 
}

.button {
  padding-bottom: 25px;
}

.buttons {
  border: 0.1px solid grey;
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 2.3rem !important;
    color: #FF8C00;
}

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 #back {
   color: white;
   margin-left: 340px;
   font-size: 20px;
 }
 
 .table, th, td {
   border: 2px solid black
 }
 
 #header {
   padding-top: 95px;
 }
 
 #blog {
   color: blue;
   width: 100%;
   display: inline-block;
 }
 
 .post {
   border: 1px solid black;
   margin: 10px auto;
   width: 100%;
   border-radius: 25px;
 }
 
 #home {
   text-align: center;
 }
 
 .image {
   height: auto;
   max-width: 100%;
 }
 
 .boxes {
   width: 300px;
   height: 200px; 
 }
 
 .labels {
   text-shadow: 0 1px 1px black;
   text-align: center;
 }
 
 .foot {
   text-align: center;
   padding-bottom: 15px;
 }
 
 .head {
   padding-right: 10px;
   font-size: 20px;
   margin: left;
   overflow: hidden;
 }
 
 .card {
   box-shadow: 0 1px 1px black; 
 }
 
 .carousel {
   box-shadow: 0 1px 1px black;  
 }

 .mission {
  font-size: 15px;
  border: 4px solid black;
  border-radius: 30px;
}

.statement {
  margin: 0 30 30 30;
}

.event-display-cards {
  width: 20%;
  margin: 0 auto;
}

.blog-display-cards {
  margin: 0 350px;
}

.blog-display-img {
  height: auto;
  width: 100%;
}

.greeting {
  padding-top: 60px;
}

.buttons-login {
  border: 0.1px solid grey !important;
}